name: Java CI Build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      working-directory: grievences     
      run: mvn clean package -DskipTests

    - name: Run Unit Tests
      working-directory: grievences     
      run: mvn test

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: springboot-jar
        path: grievences/target/*.jar   
